<app-header></app-header>
<ion-content class="ion-padding">
    <ion-card>
        <ion-img src="../../assets/img/info/logo.jpg"></ion-img>
        <div class="ion-text-justify">
            <p>
                Auto Visual inició hace más de veinte años como proyecto de un grupo de apasionados por los automóviles con el propósito de llevar a su clientela las más exclusivas experiencias de conducción de forma accesible a los amantes de la industria automotriz,
                que más tarde se convirtió en un suministrador de las magníficas marcas automotrices para llevar a todo el mundo las mejores andanzas.
            </p>

            <p>
                En Auto Visual sabemos que más que un transporte, un automóvil es una visión creada por el conductor desde mucho antes de adquirirlo, y buscamos replicar los más únicos sueños automotrices de aquellos quienes decidan hacerlos realidad. Por ello, nuestra
                misión es reconstruir las visiones de nuestros compradores sobre su auto de ensueño y brindarles las mejores opciones automotrices dentro del mercado. Todo aquello que puedes visibilizar en tú mente y mucho más materializado en un flamante
                vehículo. Auto visual, el nuevo mejor amigo del conductor.
            </p>
        </div>
    </ion-card>
</ion-content>