<ion-tabs>
    <ion-tab-bar slot="buttom">
        <ion-tab-button tab="autos">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>Autos</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="mapa">
            <ion-icon name="map-outline"></ion-icon>
            <ion-label>Mapa</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="cambio-auto">
            <ion-icon name="repeat-outline"></ion-icon>
            <ion-label>Cambio de Auto</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="info">
            <ion-icon name="information-circle-outline"></ion-icon>
            <ion-label>Acerca de</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>