<app-header></app-header>
<ion-content class="ion-padding-top">

    <ion-item class="ion-text-justify">
        <p>
            Para utilizar el servicio de cambio de auto llenar el siguiente formulario y Capturar una foto de su auto para realizar una evaluacion del mismo. Gracias
        </p>
    </ion-item>
    <hr>
    <form>
        <ion-item lines="full">
            <ion-label position="floating">Nombre:</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">Apellido:</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">Edad:</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="email" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">Telefono</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-row>
            <ion-col size-md="6">
                <ion-item lines="full">
                    <ion-label position="floating">Marca</ion-label>
                    <ion-input type="email" required></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size-sm="6">
                <ion-item lines="full">
                    <ion-label position="floating">Modelo</ion-label>
                    <ion-input type="text" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <div style="text-align:center">
            <ion-button (click)="capturarImagen()">
                Tomar Foto
            </ion-button>
        </div>

        <img [src]="clickedImage" />
        <div style="text-align:center">
            <ion-button (click)="onEnviar()">
                Enviar
            </ion-button>
        </div>
    </form>
</ion-content>